body {
    background: black;
    font-family: monospace;
    color: lime;
    font-weight: 900;
    font-size: 16px;
}

div {
    /*border: 1px red dashed;*/
}

div.cursor {
    border: 6px solid lime;
    height: 6px;
    width: 0;
}